* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    writing-mode: vertical-rl;
    max-width: 100vw;
    overflow-x: scroll;
}

body{
    position: relative;
    height: 50vh;
    margin-bottom: 25vh;
    margin-top: 25vh;
    max-width: 50vw;
    margin-right: calc(8px + 1.5625vw);
    padding-left: calc(8px + 1.5625vw);
    text-align: left;
}
.hidden {
    opacity: 0 !important;
    transition: all 1s ease-in-out;
}
.hidden-cursor {
    cursor: none !important;
}
#defuriganify{
    font-family: hot-tenkoinkk, sans-serif;
    font-size: 1em;
    border: none;
    outline: none;
    background: none;
    margin-left: -0.2em;
    color: #273800;
    transition: all 1s ease-in-out;
}
#toggleButton{
    font-family: hot-tenkoinkk, sans-serif;
    font-size: 1em;
    border: none;
    outline: none;
    background: none;
    margin-left: -0.3em;
    color: #7c745f;
    transition: all 1s ease-in-out;
}
.headcont{
    position: sticky;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.headcont > header {
    font-family: hot-tenkoinkk, sans-serif;
    font-size: 2.5em;
    font-weight: 400;
    color: #576936;
    writing-mode: horizontal-tb;
    position: sticky;
    margin-top: 0;
    top:3vh;
    padding-top: 2vh;
    left: 50%;
    text-align: center;
    transition: opacity 1s ease-in-out;

}

.headcont > footer{
    font-family: hot-tenkoinkk, sans-serif;
    font-size: 1.25em;
    font-weight: 400;
    color: #7c745f;
    writing-mode: horizontal-tb;
    position: sticky;
    margin-bottom: -80vh;
    top: 92vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    left: calc(50vw  - 20em/2);
    text-align: center;
    transition: opacity 1s ease-in-out;

}

.day{
    text-align: left;
    text-indent: 2rem;
    font-family: hot-tenkoinkk, sans-serif;
    color: maroon;
    font-size: 1.5em;
    line-height: 2em;
    margin-right: 3em;
    transition: opacity 1s ease-in-out;
}
.tanka{
    text-align: left;
    text-indent: 0;
    font-family: ab-appare, sans-serif;
    font-size: 3em;
    line-height: 2em;
    margin-left: 2em;
}

.tanka rt{
    font-family: ab-kouran-gyosho, sans-serif;
    font-size: 0.35em;
    color: #273800;
    transition: all  0.17s ease-in-out !important;
    display: ruby-text;

}
a.home:link{
    text-decoration: none;
    color: #576936;
    transition: all  1s ease-in-out;
}
a.home:visited{
    text-decoration: none;
    color: #576936;
    transition: all 1s ease-in-out;
}
a.home:hover{
    text-decoration: none;
    color: maroon;
    transition: all  1s ease-in-out;
}
a.home:active{
    text-decoration: none;
    color: #576936;
    transition: all  10ms ease-in-out;
}
a.foot:link{
    text-decoration: none;
    color: #7c745f;
    transition: all  1s ease-in-out;
}
a.foot:visited{
    text-decoration: none;
    color: #7c745f;
    transition: all  1s ease-in-out;
}
a.foot:hover{
    text-decoration: none;
    color: maroon;
    transition: all  1s ease-in-out;
}
a.foot:active{
    text-decoration: none;
    color: #7c745f;
    transition: all  10ms ease-in-out;
}

#defuriganify:hover{
    text-decoration: none;
    color: maroon !important;
    transition: all  1s ease-in-out;
}
#defuriganify:active{
    text-decoration: none;
    color: #7c745f !important;
    transition: all 0.1s ease-in-out;
}
#toggleButton:hover{
    text-decoration: none;
    color: maroon !important;
    transition: all  1s ease-in-out;
}
#toggleButton:active{
    text-decoration: none;
    color: #7c745f !important;
    transition: all 0.1s ease-in-out;
}


/* For Mobile Devices */
@media (max-width: 480px) {
    html, body{
        overflow-x: hidden;
    }
    body, .headcont {
        position: relative;
        height: auto;
        margin: 2vh 0;
        max-width: 90vw;
        padding: 8vh 5vw;
        overflow-x: hidden;

    }
    .headcont{
        max-width: 95vw;
        display: block;
        position: fixed;
        transform: translate(-12%, -60%);
    }

    .headcont > header, .headcont > footer {
        width: 100%;
        right: 0;
        display: block;

    }

    .headcont > header {

        background: white;
        font-size: 1.5em;
        position: sticky;
        top: 1em;
        left: 100% !important;
        text-align: center;
        padding-bottom: 1vh;
        margin-bottom: 1em;


    }

    .headcont > footer {
        background: white;
        position: sticky;
        top: 6em;
        left: 100%;
        text-align: center;
        font-size: 0.8em;
        padding-bottom: 1vh;
        margin-bottom: 1em;
        margin-right: 1em;
    }
    .headcont{
        position: sticky;
        top: 0;
        padding-bottom: 1.5em;
        left: 100% !important;
        background: white;
        writing-mode: horizontal-tb;
        padding-right: 1em;
        margin-top: 1em;
}
    .day {
        font-size: 1em;
        line-height: 1.5em;
        margin: 5em 2em 2em 2em;
        padding-top: 1em;
    }

    .tanka {
        font-size: 2em;
        line-height: 1em;
        margin: 1em 0;
        padding-left: 1em;
        padding-top: 1em;
        padding-bottom: 0  !important;
    }
    .tanka-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-top: 4em;
        margin-left: 2em;
        margin-right: 2em;
        max-width: 15em;
    }
    #defuriganify, #toggleButton {
        font-size: 0.8em;
    }
}
/*@media screen and (-webkit-min-device-pixel-ratio:0) {
    body {
        -webkit-font-smoothing: antialiased;
    }

    .tanka-container {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        align-items: center;
    }
    .headcont {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}*/
