html {
    writing-mode: vertical-rl;
    @font-face {
        font-display: block;
    }

}

.table {

    padding: calc(8px + 1.5625vw);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
h1 {
    cursor: default;
    font-family: ab-ootori, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5em;
    color: #000;
}
h2{
    cursor: default;
    font-family: ab-ootori, sans-serif;
    font-size:2.5em;
    color: #273800;
    margin-right: 2em;
    margin-left: 1em;
}
h3 {
    font-family: ab-ootori, sans-serif;
    font-size: 1.5em;
    display: inline;
    word-break: keep-all;
    line-height: 5em;
    margin-bottom: 1em;
}
h3 a{
    text-decoration: none;
    color: #576936;
    transition: color 1s ease-in-out;
}
h3 a:hover{
    color: maroon;
    transition: color 1s ease-in-out;
}