html {
    background: url("kazangan.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.landing{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
h1 {
    font-family: ab-taro, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12em;
    margin: auto 0 auto auto;
    color: black;
    transition: color 2.5s ease-in-out;
}
h1:hover{
    cursor: default;
    color: #7d0000;
    transition: color 2.5s ease-in-out;
}
h2 {
    margin-top: 1em;
    padding-top: -2em;
    color: #0F2540;
    font-family: ab-taro, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 5em;
}
.landing h2 a:link{
    text-decoration: none;
    color: #0F2540;
    transition: color 1s ease-in-out;
}
.landing h2 a:visited{
    text-decoration: none;
    color: #0F2540;
}
.landing h2 a:hover{
    text-decoration: none;
    color: #0C4842;
    transition: color 1s ease-in-out;
}
.landing h2 a:active{
    text-decoration: none;
    color: #0F2540;
    transition: color 0.5s ease-in-out;
}

